body {
  margin: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root { 
	--primary : #blue;
	--secondary: #yellow;
}
ul, li, a, p { 
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  border-box: box-sizing;
}
li {
list-style-type: none;

}
